.cart-items-container ul {
    overflow-y: auto;
    height: 500px;
}

.cart-items-container ul li {
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    width: 99%;
    margin: 8px 0;
    padding: 8px;
    min-height: 100px;
    display: flex;
}

.cart-items-container ul::-webkit-scrollbar {
    width: 5px;
}

.cart-items-container ul::-webkit-scrollbar-thumb {
    background-color: #383838;
    border-radius: 8px;
}

.cart-items-container ul li a {
    display: flex;
    color: black;
    font-size: 14px;
    width: 60%;
}

.cart-items-container ul li a img {
    width: 50px;
    height: 60px;
    margin-right: 10px;
}

.cart-items__price-box {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;

}