.card-container img {
    height: 200px;
    width: 150px;
    display: block;
    margin: 0 auto 10px auto;
}

.card-container .card-title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}