.all-books-container {
    width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
}

.all-books-container h2 {
    text-align: center;
    margin-bottom: 25px;
}


@media screen and (max-width: 1200px) {
    .all-books-container {
        width: 100%;
        padding: 120px 10px;
    }

    /*.all-books-container .card-container {*/
    /*    width: 33%;*/
    /*}*/

    /*.all-books-container .card-container .card {*/
    /*    width: 95%;*/
    /*}*/
}